body{
    background-color: black;
    margin:0;
}

#player1, #player2 {
    width: 180px;
    height: 15px;
    position: fixed;
    left: 50%;
    border-radius: 15px;
    text-align: center;
    color: black;
    background-color: white;
    font-weight: bold;
}


#ball {
    width: 15px;
    height: 15px;
    background-color: white;
    position: fixed;
    top: 15px;
    left: 55%;
    border-radius: 50%;
}


#player2 {
    bottom: 4px;
}